<h3>Tracklist</h3>

<div class="tracklist">

    <ul class="list-group row">
        <li *ngFor="let song of mix.tracklist; let i = index;" class="list-group-item">
            <div class="col-1">#{{i+1}}</div>
            <div class="col-3"><b>{{song.artist}}</b></div>
            <div class="col-4">{{song.title}}</div>
            <div class="col-2">{{song.key}}</div>
            <div class="col-2">{{song.tempo}}</div>
        </li>

        <!-- Search library for next track -->
        <li class="list-group-item">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input #filterInput
                    type="text" 
                    class="form-control" 
                    placeholder="Search library to add tracks"
                    (keyup)="filterLibrary(filterInput.value)">
            </div>
        </li>
        <!-- Display search results -->
        <li *ngFor="let song of filteredSongs; let i = index;" 
            class="list-group-item"
            (click)="addTrackClicked(song)">
                <div class="col-1"></div>
                <div class="col-3"><b>{{song.artist}}</b></div>
                <div class="col-4">{{song.title}}</div>
                <div class="col-2">{{song.key}}</div>
                <div class="col-2">{{song.tempo}}</div>
        </li>
    </ul>

</div>