<h3>Tracklist</h3>

<div class="tracklist">

    <ul class="list-group row">
        <li mix-tracklist-song 
            *ngFor="let song of mix.tracklist; let i = index;" 
            [song]="song" [index]="i"
            class="list-group-item">
        </li>

        <!-- Search library for next track -->
        <li class="list-group-item">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input #filterInput
                    type="text" 
                    class="form-control" 
                    placeholder="Search library to add tracks"
                    (keyup)="filterLibrary(filterInput.value)">
            </div>
        </li>
         <!--Display search results -->
        <li mix-tracklist-song 
            *ngFor="let song of filteredSongs; let i = index;" 
            [song]="song"
            (click)="addTrackClicked(song)"
            class="list-group-item">
        </li>
    </ul>

</div>