
<form (ngSubmit)="login()" #loginForm="ngForm" class="form-signin">

  <h2 class="form-signin-heading">Please sign in</h2>

  <label for="name" class="sr-only">Username</label>
  <input name="name" [(ngModel)]="name" class="form-control" placeholder="Who are you?" required autofocus>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" name="rememberMe" [(ngModel)]="rememberUser" value="true"> Remember me
    </label>
  </div>
  
  <button class="btn btn-lg btn-block" type="submit" [disabled]="!loginForm.form.valid">Sign In</button>
  
</form>