.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 0;
}

.navbar { min-height: 0px }

p.navbar-brand {
    margin: 0;
    padding: 5px 15px;
    height: inherit;
}

.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
}

.navbar-btn {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 1px 6px;
}