
#main-container {
  padding-top: 15px;
}

.nav-logo {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 45px;
  height: 40px;
}

.navbar-brand {
  margin-left: 50px;
}

.main-logo {
  height: 40px;
  width: 45px;
  margin-right: 5px;
  /*display: block;*/
  background: url(/assets/vinyl.svg) no-repeat top left;
  background-size: contain;
}