
#main-container {
  padding-top: 15px;
}

.nav-logo {
  height: 36px;
  margin-top: -10px;
}

.main-logo {
  height: 40px;
  width: 45px;
  margin-right: 5px;
  /*display: block;*/
  background: url(/assets/vinyl.svg) no-repeat top left;
  background-size: contain;
}

.nav-wrapper {
  background-color: #292b2c;
}