<div *ngIf="song">

<div class="card">

    <div class="card-block">
        <h4 class="card-title">{{song.artist}} - {{song.title}}</h4>
        
        <div class="form-group">
            <label for="song-id" class="">ID</label>
            <input disabled id="song-id" name="song-id" class="form-control" [(ngModel)]="song.id">
        </div>

        <div class="form-group">
            <label for="song-artist" class="">Artist</label>
            <input id="song-artist" name="song-artist" class="form-control" [(ngModel)]="song.artist" placeholder="artist">
        </div>

        <div class="form-group">
            <label for="song-title" class="">Title</label>
            <input id="song-title" name="song-title" class="form-control" [(ngModel)]="song.title" placeholder="title">
        </div>

        <div class="form-group row">
            <label for="song-tempo" class="col-12">BPM</label>
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" aria-label="Decrease BPM" (click)="decreaseTempo()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </span>
                    <input id="song-tempo" name="song-tempo" class="form-control" [(ngModel)]="song.tempo">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" aria-label="Increase BPM" (click)="increaseTempo()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="song-title" class="">Key</label>
            <!--<input id="song-title" name="song-title" class="form-control" [(ngModel)]="song.key" placeholder="Key">-->
            <song-key [song]="song"></song-key>
        </div>

    </div> <!-- card-block -->

    <div class="card-footer">
        <div class="row justify-content-end">
            <div class="col-6 col-sm-4">
            <button class="btn btn-success btn-block" (click)="save()">Save</button>
            </div>
            <div class="col-6 col-sm-4">
            <button class="btn btn-danger btn-block" (click)="goBack()">Cancel</button>
            </div>
        </div>
    </div> <!-- card-footer -->

</div> <!-- card -->
<button type="button" class="btn btn-link" (click)="delete()">Delete this song permanently</button>
</div> <!-- ngIf -->