<div *ngIf="song">

<div class="card">
  <div class="card-header"></div>
  <div class="card-block">
    <h4 class="card-title">{{song.artist}} - {{song.title}}</h4>
    
    <div class="form-group">
      <label for="song-id" class="">ID</label>
      <div class="">
        <input disabled id="song-id" name="song-id" class="form-control" [(ngModel)]="song.id">
      </div>
    </div>

    <div class="form-group">
      <label for="song-artist" class="">Artist: </label>
      <div class="">
        <input id="song-artist" name="song-artist" class="form-control" [(ngModel)]="song.artist" placeholder="artist">
      </div>
    </div>

    <div class="form-group">
      <label for="song-title" class="">Title: </label>
      <div class="">
        <input id="song-title" name="song-title" class="form-control" [(ngModel)]="song.title" placeholder="title">
      </div>
    </div>

    <div class="form-group row">
      <label for="song-tempo" class="col-12">BPM</label>
      <div class="col-7 col-sm-10">
        <input id="song-tempo" name="song-tempo" class="form-control" [(ngModel)]="song.tempo">
      </div>
      <div class="col-5 col-sm-2">
        <div class="btn-group btn-group-justified" role="group">
          <a type="button" class="btn btn-default" aria-label="Increase BPM" (click)="increaseTempo()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
          <a type="button" class="btn btn-default" aria-label="Decrease BPM" (click)="decreaseTempo()">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- card-block -->

  <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-6 col-sm-4">
          <button class="btn btn-success btn-block" (click)="save()">Save</button>
        </div>
        <div class="col-6 col-sm-4">
          <button class="btn btn-danger btn-block" (click)="goBack()">Cancel</button>
        </div>
      </div>
  </div> <!-- card-footer -->

</div> <!-- card -->
<button type="button" class="btn btn-link" (click)="delete()">Delete this song permanently</button>
</div> <!-- ngIf -->